html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: gainsboro;
}

.title {
  text-align: center;
  background-color: #222222;
  color: gainsboro;
  padding: 20px;
  font-size: 25px;
}

.poker-card {
  /* kinda double margin value, one positive and one negative */
  position: relative;
  left: 100px;
  margin-left: -75px;
  width: 150px;
}

#playerCards, #iaCards {
  height: 240px;
}